# Cache
.eslintcache

# Node
npm-debug.log
node_modules

# Local development
*.env
*.dev
.DS_Store
.sample-env

# Docker
docker-compose.yml

# Other
.idea
other.txt

# Build
dist

coverage
.nyc_output
